.App {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #224687;
  height: 20%;
  padding: 20px;
  color: #EDEDED;
  text-align: center;
}

.App-intro {
  font-size: large;
  margin-left: 4%;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.variableCard {
  box-shadow: 2px 2px 10px #CCCCCC;
  text-align: center;
  width: 40%;
  margin: 2% 4%;
  color: #666666;
}

.variableName {
  margin: 0;
  padding: 2.5%;
  background-color: #00BCD4;
  color: #EDEDED;
}

.valuesTable {
  margin-left: 25%;
}

@media all and (max-width: 750px) {
  .container {
    flex-direction: column;
  }
}